<div class="imagenLogo text-center bg-dark mb-4 mt-4">
  <img class="img-fluid " src="assets/img/Logo.png">
</div>
<div class="bg-dark px-5 mt-4 text-center mb-5">
  <h1><em> ¿Quiénes somos?</em></h1> 
</div>

<div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-1 me-5">
        <div class="content_text">
            <h2><em> Misión</em></h2>
            <p></p><p><br>La Calma es una empresa de más de 5 años en el mercado, desea crear una experiencia única a sus clientes a la hora de hacerse un corte de cabello o adquirir productos de uso personal de excelente calidad,  brindamos  control, experiencia y comodidad a nuestros preciados clientes en cada visita a nuestras instalaciones.</p>
            <p></p>
        </div>
    </div>
    <div class="col-12 col-md-5 ml-auto">
        <img src="./assets/img/fotosSlide/niñoSonriendo.jpeg" alt="Honor" class="img-fluid">
    </div>
</div>
<br>
<br>
<br>
<div class="valor_item par">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-11 col-md-6 ml-auto order-12 order-md-1">
                <img src="./assets/img/fotosSlide/fachada.jpeg" alt="Visión" class="img-fluid">
            </div>
            <div class="col-12 col-md-5 offset-md-1 order-1 order-md-12">
                <div class="content_text">
                    <h2><em> Visión</em></h2>
                    <p></p><p>La Calma, en 5 años, se establecerá en ciudades vecinas, para hacer crecer su grupo de clientes, buscará la manera de mejorar sus servicios, para que sea un gusto para cada persona visitar nuestras peluquerías y sentir la mejor atención.</p>
<p></p>
                </div>
            </div>
            
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="valor_item">
    <div>
        <div class="row align-items-center">
            <div class="col-12 col-md-4 offset-md-1 me-5">
                <div class="content_text">
                    <h2><em> Historia</em></h2>
                    <p></p><p>Historia
                        En el año 2016 la Barbería la CALMA, fue fundada por un emprendedor palmirano llamado Néstor Toro, esta barbería se ha distinguido del resto por su estilo clásico pero moderno basado en   Puerto Rico, un país en donde el papel urbano del barbero 
                        es sumamente importante, ya que este se encarga de no solo de afeitar o cortar el cabello de las personas que lo frecuentan, sino también de hacer arte con el mismo. También dice Néstor Toro que uno de los aires que le ayudan a encontrar esa inspiración 
                        es el ritmo de la salsa, y por el cual le dio el nombre a su barbería, puesto que uno de sus cantantes favoritos, llamado Ismael Rivera en su canción El brujo del Borinquén hace alusión al Puerto Rico que vivió en su juventud, un puerto donde la alegría y 
                        la buena energía se acompañan de salsa, y todos juntos formaban calma.
                        Actualmente la Barbería La Calma, se encuentra ubicada en la calle 33#19a-01 del municipio de Palmira, Valle del Cauca y su mayor objetivo es hacer de la barbería una experiencia grata y cómoda para sus clientes.</p>
<p></p>
                </div>
            </div>
            <div class="col-12 col-md-5 ml-auto">
                <img src="./assets/img/fotosSlide/ismaelRivera.jpeg" alt="Historia" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="align-items-center text-center mb-5 mt-5">
  <h5>¡visitanos!</h5>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3982.251662321672!2d-76.2909386!3d3.5292448!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3a04c328155fdd%3A0xaf1b943b9d347de2!2sCl.%2033%20%2319a-1%2C%20Palmira%2C%20Valle%20del%20Cauca!5e0!3m2!1ses!2sco!4v1618180467911!5m2!1ses!2sco" width="900px" height="500px" style="border:0;" allowfullscreen="yes" loading="lazy"></iframe>
</div> 

<div class="align-items-center text-center mb-5 mt-5">
  <h4 class="text-uppercase mb-4 font-weight-bold ">Contactos</h4>
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
      
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <i class="bi bi-house" style="font-size: 4rem; color: #1E9B9B"></i>
          <p>
            <a href="https://goo.gl/maps/NUMxpgNLWqhAaX3J8" class="text-white" style="text-decoration: none;"><h5> Calle 33 # 19a-01 Palmira, Valle</h5></a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <i class="bi bi-telephone-forward" style="font-size: 4rem; color: #1E9B9B"></i>
          <p>
          <a href="https://wa.me/573188621565?text=Hola%20quisiera%20agendar%20una%20cita!" class= "text-white" style="text-decoration: none"><h5> +57 318 8621565</h5></a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <i class="bi bi-facebook" style="font-size: 4rem; color: #1E9B9B"></i>
           <h5> Proximamente!</h5>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <i class="bi bi-instagram" style="font-size: 4rem; color: #1E9B9B"></i>
          <p>
            <a href="https://www.instagram.com/la_calma_barbershop/" class= "text-white" style="text-decoration: none;"><h5> la_calma_barbershop</h5></a>
          </p>
        </div>
      

      
      </div>
    </div>  

  </div>


  <footer class="bg-dark bg-gradient text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h4 class="text-uppercase mb-4 font-wheiht-bold text-white" >
            La Calma
          </h4>
          <p>
            <em>
              La Calma es una empresa de más de 5 años en el mercado, desea crear una experiencia única a sus clientes a la hora de hacerse un corte de cabello o adquirir productos de uso personal de excelente calidad,  brindamos  control, experiencia y comodidad a nuestros preciados clientes en cada visita a nuestras instalaciones.
            </em>          
          </p>
        </div>
  
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h4 class="text-uppercase mb-4 font-weight-bold ">Servicios</h4>
          <p>
            <a (click)="navigate('haircut')" class="text-white bi bi-house" style="text-decoration: none; cursor: pointer; font-size: 120%;"> Inicio</a>
          </p>
          <p>
            <a (click)="navigate('products')"class="text-white bi bi-shop" style="text-decoration: none; cursor: pointer; font-size: 120%;"> Tienda</a>
          </p>
          <p>
            <a (click)="navigate('profile')" class="text-white bi bi-person" style="text-decoration: none; cursor: pointer;font-size: 120%;"> Perfil</a>
          </p>
          <p>
            <a (click)="navigate('aboutus')" class="text-white bi bi-info-circle" style="text-decoration: none; cursor: pointer;font-size: 120%;" > Nosotros</a>
          </p>
          <p>
            <a *ngIf="user!=undefined" class="bi bi-power text-white" style="text-decoration: none;font-size: 120%;"(click)="logout()" href="haircut" > Cerrar sesión</a>
          </p>
        </div>
      </div>
    </div>
  
  </footer>
