.content {
    width: 100%;
    padding: 50px 10% ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.haircutContainer{
    background-color: #1E9B9B;
    width: 250px;
    height: 340px;
    border-radius: 10px;
    margin: 20px;
    align-items: center;
}

.carousel{
    margin-top: 2% ;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    
}

.carousel img{
    height: 60%;
    width: 80%;
}